.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

#coding {
  max-width: 100vw;
  padding: 4rem 2rem;
  margin: 0 auto;
  padding-top: 2rem;
}

body #cdawrap {
  justify-self: start;
}

.grid {
  display: grid;
  margin: 10vh 0;
  grid-template-columns: 1fr;
  border: 1px solid #2a2b3a;
  /*background: #2a2b3a;*/
  /*gap: 1px;*/
}

.grid__item {
  padding: 1.5rem 1.5rem 2rem;
  display: grid;
  gap: 1.5rem;
  background: transparent;
  align-content: start;
  grid-template-rows: auto 1fr auto;
  border: 1px solid #2e2e2f;
}

.grid__item-img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  --x: 0px;
  --y: 0px;
}

.grid__item-img img {
  height: 100%;
  aspect-ratio: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*.grid__item .splitting.cells{
	visibility: visible;
}*/

.grid__item-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}

.grid__item-img-decox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "input-mono", monospace;
  font-size: 0.85rem;
  word-wrap: break-word;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-mask-image: radial-gradient(300px circle at var(--x) var(--y), black 20%, rgba(0, 0, 0, 0.25), transparent);
  mask-image: radial-gradient(300px circle at var(--x) var(--y), black 20%, rgba(0, 0, 0, 0.25), transparent);
}

.grid__item-img-deco {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "input-mono", monospace;
  font-size: 0.85rem;
  word-wrap: break-word;
  line-height: 1.15;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  /*	-webkit-mask-image: radial-gradient(300px circle at var(--x) var(--y),black 20%,rgba(0,0,0,0.25),transparent);
	mask-image: radial-gradient(300px circle at var(--x) var(--y),black 20%,rgba(0,0,0,0.25),transparent);*/
}

.grid__item-img:hover .grid__item-img-deco {
  opacity: 1;
}
.grid__item-video {
  position: absolute;
  top: -101%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
/*    .grid__item-img:hover .grid__item-video {
      display: block;
    }*/

.grid__item-img svg {
  width: 75%;
  max-width: 180px;
  position: relative;
  z-index: 1;
}

.grid__item-label {
  line-height: 1.4;
  margin: 0;
}

.grid__item-tag {
  align-self: end;
  justify-self: start;
  border: 1px solid #2a2b3a;
  border-radius: 1em;
  line-height: 0.75;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
}

@media screen and (min-width: 33em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 53em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  body #cdawrap {
    justify-self: end;
  }
}

.grid__item {
  position: relative;
}
.uzijoint {
  width: 1px;
  height: 1px;
  top: -1px;
  right: -1px;
  position: absolute;
  z-index: 1;
  rotate: 45deg;
}

.uzijoint:before {
  background: var(--color-black);
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.uzijoint:after {
  background: var(--color-black);
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}

.uzijoint-left {
  width: 1px;
  height: 1px;
  top: -1px;
  left: -1px;
  position: absolute;
  z-index: 1;
  rotate: 45deg;
}

.uzijoint-bottom-left {
  width: 1px;
  height: 1px;
  bottom: -1px;
  left: -1px;
  position: absolute;
  z-index: 1;
  rotate: 45deg;
}

.uzijoint-bottom-right {
  width: 1px;
  height: 1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: 1;
  rotate: 45deg;
}

.uzijoint-bottom-left:before {
  background: var(--color-black);
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.uzijoint-bottom-left:after {
  background: var(--color-black);

  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}
.uzijoint-bottom-right:before {
  background: var(--color-black);
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}
.uzijoint-bottom-right:after {
  background: var(--color-black);
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  right: -4px;
}

@media (max-width: 767px) {
  .content--full {
    margin-top: 2rem;
  }
}

.content--full {
  padding: 0;
  margin-top: 1rem;
}
.content-uzi {
  width: 100vw;
  flex-direction: column;
  display: flex;
  position: relative;
  grid-area: innovation-services;
}
.content__title {
  counter-increment: section;
  text-align: center;
  gap: 2rem;
  font-size: var(--mid-font);
  line-height: 0.8;
  display: grid;
  font-family: inherit;
  font-weight: 300;
}

.innovation-services {
  display: grid;
  grid-template-areas:
    "innovation-title"
    "innovation-services";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 9rem;
}

.innovation-title {
  display: grid;
  align-items: start;
  padding-left: 100px;
}

.title-inno {
  padding-left: 100px;
  width: 100%;
  grid-area: innovation-title;
  position: relative;
}
.title-inno::before {
  border-radius: 100%;
  content: "よん";
  left: 35px;
  top: -7px;
  position: absolute;
  border: solid 0.0058vw;
  height: 36px;
  display: flex;
  width: 36px;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
