*,
:after,
:before {
  box-sizing: border-box;
}
:root {
  margin: 0;
  --fade-black: 0, 0, 0;
  --fade-main: 252, 18, 52;
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #ece9e1;
  --stick-black: #000;
  --stick-white: #fff;
  --main-color: #fc1234;
  --color-third: #bed2f5;
  --color-forth: #2b2d42;
  --font-1: sohne-light;
  --font-2: SpaceGrotesk;
  --font-3: MonumentExtended;
  font-size: 15px;
}
:root {
  --hc-sm: clamp(0.7rem, 0.35vi + 0.61rem, 0.89rem);
  --hc-base: clamp(0.88rem, 0.57vi + 0.73rem, 1.19rem);
  --hc-md: clamp(1.09rem, 0.89vi + 0.87rem, 1.58rem);
  --hc-lg: clamp(1.37rem, 1.35vi + 1.03rem, 2.11rem);
  --hc-xl: clamp(1.71rem, 2.01vi + 1.21rem, 2.81rem);
  --hc-xxl: clamp(2.14rem, 2.93vi + 1.4rem, 3.75rem);
  --hc-xxxl: clamp(2.67rem, 4.23vi + 1.61rem, 5rem);
  --feature-height: 22.5em;
}
@font-face {
  font-display: swap;
  font-family: sohne-light;
  src: url(../fonts/sohne-light.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: SpaceGrotesk;
  src: url(../fonts/SpaceGrotesk.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: MonumentExtended;
  src: url(../fonts//MonumentExtended-Regular.woff) format("woff");
}

* {
  scrollbar-width: 0 !important;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}
h4 {
  font-size: 1.728rem;
}
h5 {
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
}

html::-webkit-scrollbar {
  background-color: var(--color-bg) !important;
  width: 9px !important;
}

html#loginpage {
  overflow-y: scroll !important;
  overflow-x: hidden;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px !important;
  background-color: #5a5a5a !important;
  border: 1px solid #f9f9f9 !important;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-3);
}
ul {
  list-style: none;
  margin: 0;
}
.nav {
  background-color: transparent;
  bottom: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
.nav_grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .nav_grid {
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
.padding_global.nav_padding {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.padding_global {
  height: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.est_nav,
.nav_logo_parent {
  display: flex;
  overflow: hidden;
}
.menu_line {
  height: 1.23438px;
  width: 100%;
}

.nav_logo_parent {
  justify-content: flex-start;
  color: var(--color-bg);
}
.nav_logo_parent {
  cursor: pointer;
}
.est_nav {
  align-items: flex-start;
  cursor: pointer;
  justify-content: center;
  z-index: 201;
}
.est_nav svg {
  padding-left: 8px;
}

.mid-moon--dark {
  fill: var(--color-black);
}
.both-icon-menu {
  display: grid;
  grid-template-areas: " menuicon menuname";
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3px;
}

.menu_button_wrapper {
  height: 1rem;
  width: 2.25rem;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: menuicon;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}
.menu_button_line {
  height: 2px;
  width: 100%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  display: flex;
}
.menu-dot-line {
  background-color: var(--color-black);
}
.menu_dot {
  border-radius: 100000rem;
  height: 0.1875rem;
  width: 0.1875rem;
  background-color: var(--color-black);
}
.menu-name {
  grid-area: menuname;
  font-family: var(--font-3);
}
.loginwrapper {
  background-color: var(--color-bg);
  display: grid;
  min-height: 100svh;
  min-width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logincanvas loginform";
}

.loginform {
  grid-area: loginform;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
  align-items: center;
}
.logincanvas {
  grid-area: logincanvas;
  padding: 0em;
  display: grid;
  height: 100%;
  position: relative;
}
.canvasimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.error {
  color: var(--main-color);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-1);
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.success {
  color: green;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-1);
  font-weight: 500;
  text-align: center;
  width: 100%;
}
.inputLogin1,
.inputLogin2 {
  font-family: var(--font-1);
  padding: 0;
  width: 100%;
  border-bottom: 1px solid rgba(31, 8, 8, 0.2);
  height: clamp(65px, 5.83vw, 112px);
  display: block;
  background: 0 0;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  border-left: 0;
  border-right: 0;
  font-size: clamp(18px, 1.38vw, 27px);
}

.inputLogin1 {
  border-top: 1px solid rgba(31, 8, 8, 0.2);
}

.inputLogin2 {
  border-top: none;
}

input:focus {
  outline: 0;
}
.submitButton {
  align-items: center;
  padding: 1.3rem 2rem;
  font-size: var(--hc-md);
  font-family: var(--font-2);
  background: var(--color-black);
  color: var(--color-bg);
  border: none;
  border-radius: 1rem;
  display: flex;
  cursor: pointer;
  position: relative;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}

.submitButton:before {
  background-color: var(--main-color);
  border-radius: 1rem;
  bottom: -1px;
  content: "";
  left: -1px;
  position: absolute;
  right: -1px;
  top: -1px;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}
.submitButton:hover:before {
  transform: scaleX(1);
}
.submitButton:hover {
  border: none;
}
input::placeholder {
  color: var(--color-black);
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-1);
}
.titleLogin {
  font-family: var(--font-2);
  color: var(--color-black);
  font-weight: 700;
}

@media (max-width: 767px) {
  .loginwrapper {
    grid-template-columns: 1fr;
  }
}
.consultations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.consultation-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.consultation-card h3 {
  margin: 0 0 8px;
}

.consultation-card p {
  margin: 0 0 8px;
}

.margintop {
  margin-top: 50px;
}
.table-header TableCell {
  background-color: #f0f0f0;
  font-weight: bold;
  color: var(--color-black);
}
.sort {
  background-color: var(--main-color);
  border: none;
  opacity: 0.5;
  border-radius: 5px;
  cursor: pointer;
}
.searchbyname {
  border: none;
  text-align: center;
  font-size: 0.6rem;
  height: 30px;
  border-radius: 30px;
  background: #edecfa;
}
.searchbyname::placeholder {
  font-size: 0.7rem;
}
td {
  font-family: var(--font-1) !important;
}
th {
  font-family: var(--font-2) !important;
}

.loaderContainer {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 100px);
  margin: auto;
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  color: var(--main-color);
  background: radial-gradient(circle 16px, currentColor 94%, #0000);
  -webkit-mask: radial-gradient(circle 5px, #0000 90%, #000);
  animation: l10 1.5s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background: radial-gradient(farthest-side at bottom right, currentColor 94%, #0000) top right,
    radial-gradient(farthest-side at top left, currentColor 94%, #0000) bottom left;
  background-size: 40% 45%;
  background-repeat: no-repeat;
  -webkit-mask: radial-gradient(60% 100% at bottom right, #0000 94%, #000) top right,
    radial-gradient(60% 100% at top left, #0000 94%, #000) bottom left;
  -webkit-mask-size: 40% 45%;
  -webkit-mask-repeat: no-repeat;
}
.loader:after {
  transform: rotate(90deg);
}
@keyframes l10 {
  100% {
    transform: rotate(1turn);
  }
}
