html {
  overflow-y: scroll;
}
#process-page body {
  background-color: var(--color-black);
}

#process-page .nav_logo_parent {
  color: var(--color-bg);
}
#process-page .mid-moon--dark {
  fill: var(--color-bg);
}

#process-page .below-line {
  background-color: var(--color-bg);
}
.est_nav {
  fill: var(--color-bg);
}

.nav {
  bottom: auto;
  left: 0;
  position: fixed !important;
  top: 0;
  z-index: 200;
  width: 100vw;
}
.footer {
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.process-hero {
  display: grid;
  position: relative;
  min-height: 80vh;
  padding: 0 1.2rem;
  background-color: var(--color-black);
  height: fit-content;
  overflow: hidden;
}

.process-header {
  width: 100%;
  height: 85vh;
  min-height: 30rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.h-mega {
  font-family: inherit;
  font-size: 7vw;
  font-weight: 400;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.col-grid {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 768px) {
  .col-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 1.25em;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    display: grid;
  }
}
.conte-inner {
  padding: 5px 0;
  color: #c0bebe;
}

.terms-6v {
  font-size: 6svw;
}

.process-wrapper-hero {
  color: var(--color-bg);
  margin-top: 130px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: baseline;
}
.top-process,
.bottom-process {
  font-size: 6vw;
  color: var(--color-bg);
}
.process-footer {
  align-items: center;
  height: 100%;
  padding-top: 30px;
  display: grid;
  width: 100%;
  font-family: var(--font-1);
  justify-content: end;
  grid-template-columns: 50% 35% 15%;
  grid-template-areas: "empower-head ... right-colab";
}
.empower-head {
  grid-area: empower-head;
}
.process-a {
  font-size: 1.2rem;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
.process-a:hover .process-svg {
  transform: translateX(-15px);
}

.collab {
  grid-area: right-colab;
}
.process-a:hover {
  color: var(--main-color);
}
.process-svg {
  height: 30px;
  rotate: 180deg;
  max-width: 40px;
}
.parallax-process-image {
  width: 100%;
}

.services-process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 314px;
  background-color: var(--color-black);
  grid-template-areas: "service-process service-itself";
  padding: 30px;
  color: var(--color-bg);
}
.service-process-header {
  grid-area: service-process;
  display: grid;
}
.services-process-head {
  font-family: var(--font-1);
}
.services-process-head {
  font-size: 6vw;
}

.services-process-itself {
  font-family: var(--font-1);
  grid-area: service-itself;
}
.service-list {
  display: grid;
  gap: 20px;
  font-size: 1.3rem;
  padding-top: 50px;
  counter-reset: unset;
}
.service-list li {
  display: inline-flex;
  gap: 20px;
  counter-increment: services;
}
.service-list li:before {
  font-size: 1.3rem;
  content: "(" counter(services) ")" ".";
}
.process-wrapper {
  display: grid;
  min-height: 100vh;
  color: var(--color-bg);
  padding: 70px 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "process-explain-head "
    "serviceaccordion";
}
.process-explain-head {
  font-size: 6vw;
  display: flex;
  font-family: var(--font-1);
  grid-area: process-explain-head;
  padding: 30px 0;
  margin-bottom: 60px;
  position: relative;
}

.details-content span {
  color: #c0bebe;
}
summary {
  font-family: var(--font-1), sans-serif;
}
.process-innner {
  color: #808080;
}

.principles {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: auto;
  color: var(--color-bg);
  min-height: 80vh;
  font-family: var(--font-1);
  position: relative;
  margin: 30px;
}
.principles-head {
  font-size: 6vw;
  position: relative;
  margin: 45px 0 30px;
  height: fit-content;
}
.princi {
  padding-bottom: 20px;
}
.principle-body {
  display: grid;
  grid-template-columns: 40% 60%;
}
.terms-headers:not(:last-of-type) {
  font-size: 1.3rem;
  padding: 30px 0;
}

.exit-services {
  display: grid;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-bg);
  grid-template-columns: 1fr;
  padding: 100px 40px;
}
.wrap-exit {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 3;
}

.profile-picture {
  background-size: cover;
  background: url(../assets/images/0412-1.webp);
  display: inline-flex;
  height: 0.85em;
  margin-right: 0.125em;
  position: relative;
  transform: translateY(0.09em);
  width: 0.85em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.top-exit h2 {
  font-size: calc(5vw + 10px);
}

.top-exit {
  border-bottom: 0.0058vw solid var(--color-black);
  display: grid;
  padding-bottom: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 65% 35%;
  align-items: center;
}
.contact-service {
  position: relative;

  background: transparent;
  border: 1px solid var(--color-black);
  outline: none;
  padding: 45px 50px;
  border-radius: 60px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.contact-service:hover {
  animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
}

.contact-service::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1), border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);

  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;

  transform: translateY(100%);
}

.contact-service:hover::after {
  transform: translateY(0%);
  border-radius: 0;
}

.contact-service span {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
}

.contact-service span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: white;
}
.contact-service:hover span:after {
  transform: translate(-50%, 0);
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.service-contact {
  cursor: pointer;
}

.dont-hold {
  font-size: 1.2rem;
  font-family: var(--font-1);
}

.bottom-exit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}
@media (max-width: 767px) {
  .marquee svg {
    width: var(--size-small);
  }
  .language-expla {
    font-size: 1.02rem !important;
  }

  .tool-tag {
    font-size: 1rem;
  }
  .service-head {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    text-align: center;
  }
  .service-discover-title {
    font-size: 2.2rem;
    grid-column: 1/2;
  }
  .inline-gif {
    align-items: center;
    display: grid;
    gap: 20px;
    justify-content: center;
  }
  .inline-gif img {
    justify-self: center;
  }

  .top-exit {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    margin-bottom: 20px;
  }
  .bottom-exit {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-items: center !important;
    row-gap: 30px;
  }
  .contact-service {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .top-exit h2 {
    text-align: center;
  }
  .service-contact {
    display: grid;
  }
  .contact-service {
    justify-self: center;
    display: grid;
  }
  .circle-arrow {
    margin-left: 0;
    width: 5.8em;
  }
  .service-title:before {
    top: -34px;
  }
}
@media screen and (min-width: 768px) {
  .service-contact {
    cursor: pointer;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .services-process {
    grid-template-areas: "service-process" " service-itself";
  }
  .principle-body,
  .services-process {
    grid-template-columns: 1fr;
  }
  .service-list {
    padding: 0;
  }
  .col__content-txt {
    margin-left: 0 !important;
  }
  .process-footer {
    align-items: center;
    display: grid;
    font-family: var(--font-1);
    grid-template-areas:
      "empower-head "
      "right-colab";
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    height: 100%;
    justify-content: start;
    padding-top: 30px;
    width: 100%;
  }
  .bottom-process,
  .top-process {
    font-size: calc(3vw + 21px);
    /* text-align: center; */
  }
}
