.hero-services {
  display: grid;
  grid-template-areas:
    "..."
    "hero-service";
  grid-template-columns: 1fr;
  grid-template-rows: 30% 50% 20%;
  min-height: 100vh;
  overflow: hidden;
}
.animate {
  overflow: hidden;
  line-height: 1;
}

.inner-service2:nth-last-of-type(3):before {
  background-image: url(../assets/images/0775-1.webp);
  background-position: 50% 43%;
  background-repeat: no-repeat;
  background-size: 81%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero-service {
  grid-area: hero-service;
  text-align: center;
  padding: 0;
  font-size: calc(8vw + 10px);
  font-family: unset;
  z-index: 4;
  padding-bottom: 4rem;
  padding-left: 2.5%;
  padding-right: 2.5%;
  line-height: 1.4;
  text-transform: uppercase;
}

.img_wrapper.studio_hero {
  z-index: 1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure {
  margin: 0;
}

.under-hero .intro-title::before {
  content: "🚀";
  rotate: 90deg;
}

.under-heross {
  display: grid;
  min-height: 100svh;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  overflow: hidden;
}

.introduction {
  background-color: #222 !important;
  display: grid;
  grid-template-areas:
    "introtitle introexpla"
    "... introfooter";
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 200px;
  min-height: 100vh;
  position: relative;
  color: var(--color-bg);
}
.morestudio a {
  color: var(--color-bg);
  border: solid 0.0058vw var(--color-bg);
}

.divider-line {
  background-color: var(--color-bg);
}
.morestudio svg {
  fill: white;
}

.div-block-42 {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding-top: 0;
}

.marquee-horizontal {
  overflow: hidden;
}

.service-welcome {
  min-height: 30vh;
  display: grid;
  align-items: center;
}

.service-head {
  align-items: center;
  display: grid;
  height: max-content;
  padding: 40px 25px;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  background-color: var(--color-bg);
  width: 100%;
  position: relative;
}

.service-subtitle {
  display: grid;
  grid-column: 1/2;
  padding-top: 0;
  justify-content: center;
  position: relative;
}
.service-subtitle::before {
  align-items: center;
  border: 0.0058vw solid;
  border-radius: 100%;
  content: "いち";
  display: flex;
  flex-flow: column;
  height: 36px;
  justify-content: center;
  left: 35px;
  position: absolute;
  top: -7px;
  width: 36px;
}
.service-discover-title {
  grid-column: 2/3;
  font-size: 3rem;
  align-content: start;
}

.service-all-wrapper {
  counter-reset: serviceMe;
}

.service-main {
  background-color: var(--color-bg);

  display: grid;
  grid-template-areas:
    "servicetitle servicebody"
    "serviceanimation servicebody";
  grid-template-columns: 40% 60%;
  min-height: 100vh;
  position: relative;
  padding: 60px 20px;
}

.service-title {
  grid-area: servicetitle;
  position: relative;
  font-size: 2rem;
  font-family: var(--font-1);
  justify-content: center;
  display: flex;
  counter-increment: serviceMe;
}

.service-title:before {
  border: 0.0058vw solid var(--color-black);
  border-radius: 100%;
  content: counter(serviceMe);
  padding: 7px 14px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}

.service-body {
  grid-area: servicebody;
  grid-template-rows: 3fr 2fr;
  display: grid;
}

.service-expla {
  font-family: var(--font-1);
  font-size: 1.9rem;
}

.service-animation {
  grid-area: serviceanimation;
  display: grid;
  align-items: center;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.service-animation > svg,
.cb-overview-icon.-rotating video {
  animation: rotate360 5s infinite linear;
  height: 5rem;
}

.service-tools {
  padding-top: 20px;
}
.tools-tags {
  padding-top: 10px;
}
.tool-tag {
  padding: 0.8rem 1.5rem;
  margin: 0.7rem;
  font-size: 2.1rem;
}
.tool-tag {
  display: inline-block;
  padding: 0.4rem 1rem;
  margin: 0.4rem;
  border: 1px solid;
  border-radius: 49px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  font-family: var(--font-1);
}
.divider-service {
  background-color: var(--color-black);
  height: 0.052vw;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  shape-rendering: geometricprecision;
}

.rotter {
  height: 76px;
  width: 310px;
}
.stroka-icon svg > * {
  stroke-dasharray: 148 10;
  -webkit-animation: strokax 5s infinite linear;
  animation: strokax 5s infinite linear;
}

@keyframes strokax {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 148 10;
  }

  50% {
    stroke-dasharray: 135 30;
  }
  100% {
    stroke-dashoffset: 157;
    stroke-dasharray: 148 10;
  }
}
.stroka-icon {
  justify-content: center;
  display: flex;
  width: 70%;
  height: 5rem;
}

.after-service {
  display: grid;
  position: relative;
  background-color: var(--main-color);
  min-height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-areas:
    "redifine"
    "xp";
}

.hc-greeting-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.hc-greeting-bg-media,
.hc-greeting-bg-media img {
  height: 100%;
}

.welcome-processes {
  display: grid;
  font-size: 9vw;
  padding: 20vh 25px;
  position: relative;
  z-index: 2;
  grid-area: redifine;
}

.inline-gif img {
  border-radius: 105px;
  height: calc(8rem - 1vw);
}
.inline-gif {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

.cool-video {
  display: grid;
  background-color: var(--color-black);
  padding-top: 100px;
  min-height: 150vh;
  grid-template-columns: 1fr;
  /* grid-template-rows: 50vh 100vh; */
}

:root {
  --relative-rem: 0.625vw;
}

@media (min-width: 768px) {
  .cb-intro-figure {
    width: auto;
    height: 99vh;
    width: 97vw;
    margin: 0 0 0 auto;
  }
}
.cb-intro-figure {
  margin: 0 auto;
  width: 345px;
  height: 345px;
}

.cb-intro-figure-media {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 1000px;
}
.cb-intro-figure-media video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .circle-arrow {
    margin-left: 9%;
  }
}
.circle-arrow {
  cursor: pointer;
  width: 5.8em;
  height: 5.8em;
  border: 1px solid rgba(241, 241, 241, 0.35);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 12%;
  display: flex;
}

@media screen and (min-width: 768px) {
  .morestudio {
    justify-content: end;
    padding: 0 46px;
  }
}

.intro-studio {
  font-family: var(--font-1) !important;
}

.proof-experience {
  grid-area: xp;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 0;
  position: relative;
  align-items: center;
}
.top-border {
  height: 0.052vw;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 1;
  background-color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}

.years-xp,
.projects-xp,
.more-xp {
  display: flex;
  flex-direction: column;
}
.xp-footer {
  font-size: 1.2rem;
  text-align: center;
}
.xp-head {
  font-size: 7vw;
  text-align: center;
}

.services-video {
  width: 100%;
  height: 100vh;
  border-radius: 45px;
}

.inner-service-video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.languages {
  color: var(--color-bg);
}

.language-names {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  grid-template-rows: auto;
  font-size: calc(1.4vw + 10px);
  border-bottom: solid 0.0058vw var(--color-bg);
}
.language-svg svg {
  height: 50px;
}

.language-marquee {
  padding: 40px 0;
}
:root {
  /* --size: clamp(10rem, 1rem + 40vmin, 30rem); */
  --size: clamp(10rem, 1rem + 35vmin, 30rem);
  --gap: calc(var(--size) / 14);

  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  --size-small: clamp(10rem, 1rem + 10vmin, 30rem);
}

* {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  :root {
    --gap: calc(var(--size) / 30);
  }
  .marquee svg {
    scale: 0.6;
  }
  .language-expla {
    font-size: 1.02rem !important;
    font-family: var(--font-1);
  }
  .service-main {
    background-color: var(--color-bg);
    display: grid;
    grid-template-areas:
      "servicetitle"
      "serviceanimation "
      " servicebody";
    grid-template-columns: 1fr;
    min-height: 100vh;
    padding: 60px 7%;
    position: relative;
    row-gap: 30px;
  }
  .service-expla {
    font-family: var(--font-1);
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }
  .tool-tag {
    font-size: 1rem;
  }
  .service-head {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 40px;
    text-align: center;
  }
  .service-discover-title {
    font-size: 2.2rem;
    grid-column: 1/2;
  }
  .inline-gif {
    align-items: center;
    display: grid;
    gap: 20px;
    justify-content: center;
  }
  .inline-gif img {
    justify-self: center;
  }
  .proof-experience {
    font-family: var(--font-1);
  }
  .language-names {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 5%;
  }
  .top-exit {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    margin-bottom: 20px;
  }
  .bottom-exit {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-items: center !important;
    row-gap: 30px;
  }
  .contact-service {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .top-exit h2 {
    text-align: center;
  }
  .service-contact {
    display: grid;
  }
  .contact-service {
    justify-self: center;
    display: grid;
  }
  .circle-arrow {
    margin-left: 0;
    width: 5.8em;
  }
  .service-title:before {
    top: -34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .service-expla {
    font-size: 1.6rem !important;
  }
  .service-title {
    font-size: 1.5rem;
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-bluish);
  aspect-ratio: 10/5;
  border-radius: 0.5rem;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.exit-services {
  display: grid;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-bg);
  grid-template-columns: 1fr;
  padding: 100px 40px;
}
.wrap-exit {
  display: grid;
  grid-template-columns: 1fr;
  z-index: 3;
}

.profile-picture {
  background-size: cover;
  background: url(../assets/images/0412-1.webp);
  display: inline-flex;
  height: 0.85em;
  margin-right: 0.125em;
  position: relative;
  transform: translateY(0.09em);
  width: 0.85em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.top-exit h2 {
  font-size: calc(5vw + 10px);
}

.top-exit {
  border-bottom: 0.0058vw solid var(--color-black);
  display: grid;
  padding-bottom: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 65% 35%;
  align-items: center;
}
.contact-service {
  position: relative;

  background: transparent;
  border: 1px solid var(--color-black);
  outline: none;
  padding: 45px 50px;
  border-radius: 60px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.contact-service:hover {
  animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
}

.contact-service::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1), border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);

  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;

  transform: translateY(100%);
}

.contact-service:hover::after {
  transform: translateY(0%);
  border-radius: 0;
}

.contact-service span {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
}

.contact-service span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: white;
}
.contact-service:hover span:after {
  transform: translate(-50%, 0);
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.service-contact {
  cursor: pointer;
}

.dont-hold {
  font-size: 1.2rem;
  font-family: var(--font-1);
}
@media screen and (min-width: 768px) {
  .service-contact {
    cursor: pointer;
    justify-self: flex-end;
  }
  .dont-hold {
    max-width: 50vw;
    font-size: 1.2rem;
    font-family: var(--font-1);
  }
  .language-expla {
    font-size: 1.32rem;

    padding: 0 15px;
  }
}
.bottom-exit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.scroll-service-down {
  align-items: center;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-content: center;
  z-index: 3;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
}
.scroll-service-down span {
  width: fit-content;
  text-align: center;
}
