html {
  overflow-y: scroll;
}

.nav {
  bottom: auto;
  left: 0;
  position: fixed !important;
  top: 0;
  z-index: 200;
  width: 100vw;
}

.all-background {
  background-color: var(--color-bg);
  display: grid;
  min-height: 100svh;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
}
.footer {
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.terms-hero {
  display: grid;
  position: relative;
  min-height: 100vh;
  background-color: transparent;
  padding: 0 1.2rem;
}

.policy-header {
  width: 100%;
  height: 80vh;
  min-height: 30rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.h-mega {
  font-family: inherit;
  font-size: 7vw;
  font-weight: 400;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.policy-terms {
  display: grid;
  position: relative;
  height: fit-content;
  min-height: 50vh;
  padding: 20px 1rem;
  font-family: var(--font-1);
  font-weight: 900;
}
.col-grid {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 768px) {
  .col-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    grid-column-gap: 1.25em;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    display: grid;
  }
}

.term-left {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

.term-center {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

.term-right {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

.flex-left {
  align-items: flex-start;
}
.flex-v {
  flex-direction: column;
  display: flex;
}
.terms-links {
  color: var(--color-black);
  text-decoration: underline;
}

.terms-links:hover {
  color: var(--main-color);
}
.terms-headers:not(:first-of-type) {
  padding: 30px 0;
  font-size: 1.3rem;
}
.terms-headers:first-of-type {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.conte-inner {
  padding: 5px 0;
}

.terms-6v {
  font-size: 6svw;
}
#privacyPage .below-line,
#termsPage .below-line {
  background-color: #676767;
}
