.transition-out {
  position: fixed;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: #15171b;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1001;
  transform: scaleY(0);
  transform-origin: bottom;
}
.transition-in {
  position: fixed;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: #15171b;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1002;
  transform-origin: top;
}
.mid-transition-wrapper {
  height: fit-content;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid-transition-text {
  padding: 18px 12px;
  border: solid 2px white;
  border-radius: 100%;
  color: white;
}
