/* CSS for the spinner */

/* .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.defaultFont {
  font-family: "var(--font-1)";
}

.secondaryFont {
  font-family: "var(--font-3)";
}

.th {
  font-family: "var(--font-3)";
}
.td {
  font-family: "var(--font-1)";
}

.tableheader {
  background-color: var(--color-bg);
}
.headcellStyle {
  color: var(--color-grownish) !important;
}
.tablebody {
  background: var(--color-grownish);
  color: var(--color-bg);
  /* background: linear-gradient(90deg, rgba(248, 247, 250, 1) 30%, rgba(224, 238, 250, 1) 100%); */
}
.pagination {
  background: var(--color-grownish);
  /* background: linear-gradient(90deg, rgba(248, 247, 250, 1) 30%, rgba(224, 238, 250, 1) 100%); */
  display: flex;
  justify-content: center;
  margin-top: 5px;
  border-radius: 22px;
  max-height: 41px;
  overflow: hidden;
  color: var(--color-bg);
}

.dashTopbar {
  margin: 0;
  margin-bottom: 5px;
  border: none !important;
  margin: 6px 2px;
  border-radius: 35px;
  display: grid !important;
  grid-template-columns: auto auto;
  align-items: center;
  width: 100%;
  min-width: 200px !important;
}
.drawerLeft {
  border-right: 1px solid rgba(119, 102, 102, 0.12);
  background-color: var(--color-grownish-1);
}

.mainDashboardContent {
  /* padding: 68px 6px 0px !important; */
  padding: 0px 6px 0px !important;
  min-width: calc(100vw - 78px);
}
.addFloatTop {
  float: right;
  justify-self: center;
}
.addFloatBtn {
  scale: 0.4;
  background: var(--color-bg);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  align-items: center;
}

.addOrderFloat {
  cursor: pointer;
  height: 37px;
  border: none;
  border-radius: 45px;
  background: var(--color-grownish);
  display: grid;
  align-items: center;
  justify-content: start;
  width: 100%;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.addFloatText {
  color: var(--color-bg);
  padding: 0 12px;
  font-size: 0.8rem;
}
.dashTopbarRight {
  display: flex;
  align-items: center;
  justify-content: end;
}

.messageBoxDash {
  font-family: var(--font-2) !important;
  padding: 20px 5px;
  font-weight: 900 !important;
  color: var(--color-bg) !important;
}
.messageBoxWrapper {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}
.dashInnerWrapper {
  margin: 0px !important;
  padding: 0px !important;
  max-width: unset !important;
}
.dashTopbarLeft {
  display: flex;
  gap: 1rem;
}

.dashTopbarFilter {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  justify-content: start;
  padding: 0px 24px;
  background: var(--color-bg);

  border: none;
  border-radius: 30px;
  font-size: 0.6rem;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 600px) {
  .dashTopbarFilter {
    display: none;
  }
}
.dashActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cellStyle {
  padding: 4px !important;
  color: var(--color-bg) !important;
  display: block;
  border-bottom: none !important;
}
.bold {
  font-weight: 900 !important;
}

.editForm {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: var(--color-grownish);
  color: var(--color-bg);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}
.dashEditWrapper {
  background: "#f4f7f8";
  max-width: unset;
  color: var(--color-bg);
}

.editSave {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  .editSave {
    position: fixed;
    top: 90px;
    right: 11px;
  }
}

.editLabel {
  display: block;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .editFormWrapper {
    grid-template-columns: 1fr !important;
  }
}

.editFormWrapper {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 30px;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto;
}
.editLargeWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
  padding: 30px 0;
}
.editMessage {
  min-height: 130px;
}
.mainColor {
  background-color: var(--main-color) !important;
}

@media (min-width: 768px) {
  .editFormWrapper,
  .editLargeWrapper {
    padding: 0 2rem;
  }
}
.searchIconWrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.floatActions {
  border-radius: 45px !important;
}

.ErrorContainer {
  height: 100svh;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.ErrorvideoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.ErrorTopbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  backdrop-filter: blur(6px);
}
.ErrorDataWrapper {
  z-index: 3;
  max-width: 89vw;
  width: 89vw;
  justify-self: center;
  background-color: #ece9e10d;
  backdrop-filter: opacity(0.6);
  color: var(--color-bg);
  text-align: center;
  height: 77vh;
  border-radius: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--hc-xxl);
}

.DrawerListWrapper {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  justify-content: start;
}
.profileDrawerContainer {
  align-items: center;
  display: flex;
  padding: 30px 10px;
  justify-content: center;
  flex-direction: column;
}
.profileName {
  display: grid;
  width: 100%;
  justify-content: center;
  display: none;
}

.dashboardWrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  gap: 1.3rem;
  padding: 1rem;
  grid-template-areas:
    "topdashboard topdashboard"
    "welcome topright"
    "bottomleft bottomright";
  height: 100%;
  background-color: var(--color-grownish);
}

.EverythingWrapper {
  min-height: 100vh;
  background-color: var(--color-grownish-1);
}

.EverythingWrapper * path {
  fill: var(--color-bg);
  color: var(--color-bg);
}
.DrawerInnerWrapper {
  margin: 4px;
  border-radius: 25px;
  max-height: calc(100% - 20px);
  color: var(--color-bg);
  background: var(--color-grownish);
}
.tableContainer {
  border-radius: 22px !important;

  background-color: var(--color-grownish) !important;
}
.tableDataRow:not(:last-child) {
  border-top: solid 0.0058vw var(--color-bg);
}
