.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  font-family: var(--font-2), var(--font-1);
}
.task-header {
  text-align: center;
  color: var(--color-bg);
  font-family: var(--font-2);
  font-size: 1.5rem;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 2px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  color: var(--color-bg);
  position: relative;
}

.todo-input::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  left: 20%;
  right: 0;
}

.todo-input::placeholder {
  color: var(--color-bg);
  font-family: var(--font-2);
}

.todo-button {
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 2px 1rem 2px 2rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.todo-input.edit {
  border: none;
  height: 159px;
  max-height: 600px;
  text-wrap: wrap;
  line-break: normal;
  background: #f0ffff14;
  backdrop-filter: blur(80px);
  margin: 0rem 1rem;
  width: calc(100% - 2rem);
  max-width: calc(100% - 2rem);
}

.todo-button.edit {
  background: #ffffff45;
  color: var(--color-bg);
  font-family: var(--font-2);
  border-radius: 2rem;
  padding: 1rem 4rem;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* .todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: #f5f5dc33;
  backdrop-filter: blur(14px);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: var(--color-bg);
  width: 93%;
} */

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: #ffffff0a;
  backdrop-filter: blur(14px);
  padding: 0.5rem 1rem;
  color: var(--color-bg);
  width: 99%;
  /* border-bottom: solid 0.0056vw #9d9696ed; */
}

.move-around {
  cursor: pointer;
  pointer-events: all;
}

/* .todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
} */

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  background: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

.edit-icon {
  background: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}
.taskInputWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30% 65% 20%;
  overflow: hidden;
}

.taskHolder {
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 10px;
}

.bottomcenter-text {
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--color-orangy);
  border-radius: 25px;
  justify-self: center;
  align-self: end;
  z-index: 2;
  margin-bottom: 1rem;
  font-family: var(--font-2);
}

.todoInputWrapper {
  position: relative;
  z-index: 1;
}
.todoInputBelow {
  position: absolute;
  bottom: -8px;
  width: 20%;
  left: 0;
  right: 0;
  height: 23px;
}
.updateButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.list-icon-drag {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  fill: var(--color-orangy);
  overflow: hidden;
}
.logout-svg-icon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  overflow: hidden;
  cursor: pointer;
}
.logout-drawer-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 6vh;
  pointer-events: all;
  cursor: pointer;
}
.search-input-nav {
  background: transparent;
  padding: 2px 1rem;
  border: none;
  width: 11rem;
  border-radius: 25px;
}
.search-input-nav::placeholder {
  color: var(--color-bg);
  font-family: var(--font-2);
}
.search-input-icon {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.search-navbarwrapper {
  background: #ffffff1c;
  display: grid;
  grid-template-columns: 90% 10%;
  width: 194px;
  padding: 5px 22px;
  color: var(--color-bg);
  border-radius: 25px;
}
.navDash-topright {
  width: fit-content;
  display: flex;
  gap: 10px;
}
.navbar-right {
  justify-content: center;
  display: flex;
  align-items: center;
}

.bell-topbar svg {
  fill: var(--color-orangy);
  height: 1.4rem;
  width: 1.4rem;
}
.bell-topbar {
  padding: 0 1.3rem 0 0;
  cursor: pointer;
  pointer-events: all;
}

.navbarlogo {
  font-family: var(--font-2);
  padding: 5px 10px;
  background: var(--color-orangy);
  border-radius: 25px;
}
.OrangyBackground {
  background-color: var(--color-orangy);
}
