.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  font-family: var(--font-2), var(--font-1);
}
.task-header {
  text-align: center;
  color: var(--color-bg);
  font-family: var(--font-2);
  font-size: 1.5rem;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 300px;
  background: transparent;
  color: var(--color-bg);
  position: relative;
}

.todo-input::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  left: 20%;
  right: 0;
}

.todo-input::placeholder {
  color: var(--color-bg);
  font-family: var(--font-2);
}

.todo-button {
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 2px 1rem 2px 2rem;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: #f5f5dc33;
  backdrop-filter: blur(14px);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: var(--color-bg);
  width: 93%;
}
.move-around {
  cursor: pointer;
  pointer-events: all;
}

/* .todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
} */

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  background: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

.edit-icon {
  background: transparent;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}
.taskInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskHolder {
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 10px;
}

.bottomcenter-text {
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  border-radius: 25px;
  justify-self: center;
  align-self: end;
  z-index: 2;
  margin-bottom: 1rem;
  font-family: var(--font-2);
}

.todoInputWrapper {
  position: relative;
  z-index: 1;
}
.todoInputBelow {
  position: absolute;
  bottom: -8px;
  width: 36%;
  left: 0;
  right: 0;
  height: 23px;
}
